html, body{
	margin:0;
	height:100%;
	font-family: 'Paytone One', sans-serif;
	font-family: 'Open Sans', sans-serif;
	background-color: #fafafa;
}

dl{
	font-size: 24px;
}
dd{
	font-size: 20px;
}

#backGround{
	background: #fafafa;
	/* height:100%; */
	/* background-position: center; */
	background-size:cover;
	/* background-repeat: no-repeat; */
	background-attachment:fixed;
}

#header{
	padding:1%;
	background-color:	#e6dee6;

}
#title{
	font-family: "Paytone One";
	font-size: 50px;
	margin:0;
	text-align: center;
}
#name{
	font-family:"Open Sans";
	font-size:25px;
	margin:0;
	text-align: center;
}
.content{
	font-family: "Open Sans";
	display: flex;
	flex-wrap: wrap;
	padding-bottom:2%;

}

.navigation{
	flex:31%;
	padding-right:2%;
	padding-bottom:3%;
	font-family: "Open Sans";
	background-color: #f1f1f1;
	font-size:21px;
}
.introduction{
	padding-left:2%;
	flex:61%;
	padding-bottom:3%;
}

a{
	text-decoration: none;
	color:black;
}

a:hover{
	color:#385968;
}

ul{
	list-style-type:none;
}

/* .self_photo{
	float: left;

} */
img{
	width:28%;
	float: left;
	padding-right:3%;
}

#intro{

	font-size: 20px;
	font-family: "Open Sans";
	text-align: justify;
	padding-right: 5%;
}

iframe{
	width:75%;
	height:40%;
}

.footer {
	font-family: "Open Sans";
	font-size: 12px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: silver;
	color: black;
	padding:0.05%;
	text-align: center;
}

@media (max-width: 1024px) {
	.content{
		flex-direction: column;
	}
}
